@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;700&family=Outfit:wght@500&family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}


/* navbar */

.logo {
    width: 80px;
}

.nav-container {
    max-width: 100%;
    height: 80px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.wrapper {
    max-width: 80%;
    margin: auto;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centertab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 28%;
}


/* mainpage aboutus cases aboutus pattern text*/

.main-list a,
.aboutus-list a,
.dropbtn-cases a,
.dropbtn-collection a {
    font-weight: 500;
    color: #3E3E3E;
    text-decoration: none;
    margin: 3.5vw;
    font-size: 21px;
    transition: all .3s ease;
}


/* cases,collection list pattern */

.cases-list,
.collection-list {
    position: relative;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* cases,collection list text pattern */

.dropdown-cases-content a,
.dropdown-collection-content a {
    float: none;
    color: #3E3E3E;
    font-size: 16px;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: all .2s ease;
}


/* cases dropdown */

.dropdown-cases-content {
    display: none;
    position: absolute;
    top: 80px;
    background-color: rgb(223, 223, 223);
    min-width: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;
}


/* collection dropdown*/

.dropdown-collection-content {
    display: none;
    position: absolute;
    margin-left: 11px;
    top: 80px;
    background-color: rgb(223, 223, 223);
    min-width: 250px;
    z-index: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.cases-list:hover .dropdown-cases-content,
.collection-list:hover .dropdown-collection-content {
    display: block;
}


/* see all text in dropdown list*/

.see-all {
    font-weight: 500;
}


/* dropdown content hover */

.dropdown-cases-content a:hover,
.dropdown-collection-content a:hover {
    color: #807f7f;
}


/* color hover */

.main-list a:hover,
.aboutus-list a:hover,
.dropbtn-cases a:hover,
.dropbtn-collection a:hover {
    color: #FFA92E;
}


/* search cart profile display*/

.righttab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* cart profile image */

.cart-image,
.profile-image {
    width: 100%;
}

.profile-icon {
    margin-left: 5px;
}


/* cart */

.cart-list {
    margin-top: 0.1vw;
    height: 80px;
    width: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-count-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFA92E;
    right: 17px;
    top: 17px;
    height: 15px;
    width: 15px;
    border-radius: 60px;
}

.cart-count {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.589);
}

.dropdown-cart-content {
    display: none;
    position: absolute;
    top: 79px;
    right: 0;
    padding: 8px 5px;
    background-color: white;
    min-width: 370px;
    z-index: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.cart-title {
    color: #3E3E3E;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    display: block;
    text-align: left;
}

.cart-bought {
    border-top: 0.1px solid #47474746;
    padding: 0 5px;
    background-color: white;
    width: 370px;
    z-index: 1;
}


/* item in cart */

.cart-items {
    height: 90px;
    border-bottom: 0.1px solid #47474746;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 5px 9px;
}

.items-img {
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-image {
    width: 50px;
}

.items-details {
    width: 71%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.items-name-model {
    width: 60%;
    font-weight: 500;
    font-size: 14.3px;
}

.items-price-quantity {
    width: 30%;
}

.item-price,
.item-quantity {
    font-weight: 500;
    font-size: 14px;
}

.items-remove {
    width: 7%;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.remove {
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.remove::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 15px;
    background: rgb(129, 129, 129);
    transform: rotate(45deg);
}

.remove::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 15px;
    background: rgb(129, 129, 129);
    transform: rotate(315deg);
}


/* in cart button */

.buy-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.price {
    color: #3E3E3E;
    font-size: 14px;
    font-weight: 500;
}

.buy {
    height: 30px;
    width: 150px;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: all .2s ease;
}

.buy a:hover {
    color: #FFA92E;
}

.cart-list:hover .dropdown-cart-content {
    display: block;
}


/* search */

.search-icon {
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    overflow: hidden;
}

.search-icon-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    cursor: pointer;
}

.search-icon-wrap::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 3px solid #3E3E3E;
    border-radius: 50%;
    transform: translate(-4px, -4px);
}

.search-icon-wrap::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 12px;
    background: #3E3E3E;
    transform: translate(6px, 6px) rotate(315deg);
}

.search-icon.search-active {
    width: 230px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.search-icon .input {
    position: relative;
    width: 230px;
    height: 20px;
    left: 44px;
    top: 10px;
}

.search-icon .input input {
    position: absolute;
    width: 65%;
    height: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 17px;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background: #999;
    transform: rotate(45deg);
}

.clear::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    background: #999;
    transform: rotate(315deg);
}


/* bodyy1 */


/* Slideshow container */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}


/* Caption text */

.text1 {
    position: absolute;
    width: 7%;
    left: 30%;
    top: 60%;
}

.text2 {
    position: absolute;
    width: 7%;
    left: 22%;
    top: 65%;
}

.text3 {
    position: absolute;
    width: 7%;
    left: 67%;
    top: 49%;
}


/* The dots/bullets/indicators */

.dot {
    height: 0.6vw;
    width: 0.6vw;
    margin: 0 0.1vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-active {
    background-color: #FFA92E;
}


/* body */

.bdcontainer {
    max-width: 100%;
    background: #E3E3E3;
    margin: auto;
}

.body2 {
    max-width: 100%;
    margin: auto;
}

.body3 {
    max-width: 80%;
    margin: auto;
}


/* cases page body */


/* header */

.cases-page-body-container {
    max-width: 100%;
}

.cases-page-body-header {
    height: 140px;
}

.cases-page-body-header .header-title {
    height: 100px;
    margin-top: 40px;
    font-weight: 700;
    font-size: 34px;
    color: #3E3E3E;
}

.cases-page-body-header .header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allproduct-text {
    font-weight: 400;
    font-size: 17.5px;
    color: #3E3E3E;
}


/* sort */

.dropbtn-sort {
    font-weight: 400;
    font-size: 17.5px;
    color: #3E3E3E;
}

.name-sort,
.price-sort,
.latest-sort {
    text-decoration: none;
    font-weight: 400;
    font-size: 15.5px;
    color: #3E3E3E;
    padding: 5px 5px;
}

.latest-sort a {
    text-decoration: none;
    color: #3E3E3E;
    transition: all .2s ease;
}

.name-sort-to a,
.price-sort-to a {
    font-weight: 400;
    font-size: 15px;
    color: #3E3E3E;
    padding: 0px 8px;
    text-decoration: none;
    transition: all .2s ease;
}

.name-sort-to a:hover,
.price-sort-to a:hover,
.latest-sort a:hover {
    color: #807f7f;
}

.sort-container {
    cursor: pointer;
}

.dropdown-sort {
    display: none;
    position: absolute;
    background-color: rgb(226, 226, 226);
    min-width: 100px;
    z-index: 1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.show {
    display: block;
}


/* sort name */

.name-sort-to {
    display: none;
    position: absolute;
    list-style: none;
    margin-left: 100px;
    top: 39px;
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    min-width: 100px;
    z-index: 1;
}


/* sort price */

.price-sort-to {
    display: none;
    position: absolute;
    list-style: none;
    margin-left: 100px;
    top: 76px;
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    min-width: 100px;
    z-index: 1;
}

.name-sort-container:hover .name-sort-to,
.price-sort-container:hover .price-sort-to {
    display: block;
}


/* sidebar */

.cases-page-body-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.sidebar {
    width: 20%;
}

.iphone-list a {
    font-weight: 500;
    font-size: 17px;
    color: #3E3E3E;
    text-decoration: none;
    transition: all .2s ease;
}

.iphone-list a:hover {
    color: #807f7f;
}

.iphone-list {
    margin-bottom: 10px;
}

.sidebar-iphone,
.sidebar-collection,
.sidebar-price {
    border-bottom: 1px solid rgba(71, 71, 71, 0.26);
    padding: 10px 0px;
    top: 0;
}

.sidebar-collection .title,
.sidebar-price .title {
    font-weight: 400;
    font-size: 17.5px;
    color: #3E3E3E;
}


/* sidebar collection and price filter*/

.collection-filter,
.price-filter {
    padding: 10px 0px;
}

.filter {
    padding: 3px 0px;
}

.filter label {
    font-weight: 500;
    font-size: 17px;
    color: #3E3E3E;
}

.filter input[type="checkbox"] {
    /* change "blue" browser chrome to yellow */
    cursor: pointer;
    filter: hue-rotate(195deg) brightness(150%);
}


/* case product  */

.cases-product-showcase {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 0 0 0 4vw;
    row-gap: 30px;
    column-gap: 30px;
    width: 80%;
}

.cases-product {
    width: 100%;
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.cases-product a {
    text-decoration: none;
}

.cases-model {
    font-weight: 500;
    font-size: 18px;
    color: #3E3E3E;
    text-align: center;
    transition: all .2s ease;
}

.cases-name {
    font-weight: 500;
    font-size: 16px;
    color: #666666;
    text-align: center;
    transition: all .2s ease;
}

.cases-price {
    font-weight: 400;
    font-size: 15px;
    color: #3E3E3E;
    text-align: center;
}

.cases-model:hover {
    color: #807f7f;
}


/* detail page body */

.detail-body-container {
    width: 100%;
    margin-bottom: 50px;
}

.detail-body-container .wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


/* back button */

.back-btn {
    margin-top: 20px;
    width: 20%;
}

.back-btn a {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #3E3E3E;
    transition: all .2s ease;
}

.back-btn a:hover {
    filter: brightness(170%)
}


/* name and price detail */

.name-price {
    margin-top: 60px;
    margin-right: 100px;
    width: 300px;
}

.detail-cases-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
}

.this-image {
    margin: auto;
}

.detail-cases-detail {
    display: block;
    width: 40%;
}

.detail-cases-detail .case-name {
    font-weight: 700;
    font-size: 30px;
    color: #3E3E3E;
}

.detail-cases-detail .case-model {
    font-weight: 400;
    font-size: 23px;
    color: #3E3E3E;
    margin-top: 10px;
}

.detail-cases-detail .case-price {
    font-weight: 500;
    font-size: 21px;
    color: #3E3E3E;
    margin-top: 8px;
}


/* quantity button  */

.quantity-container {
    margin-top: 80px;
}

.quantity-container .title {
    font-weight: 500;
    font-size: 16px;
    color: #3E3E3E;
}

.quantity-field,
.button-minus,
.button-plus {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 10px;
}

input[type="button"] {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-group {
    clear: both;
    margin: 9px 0;
    position: relative;
}

.input-group input[type='button'] {
    background-color: #eeeeee;
    min-width: 38px;
    width: auto;
    transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
    font-weight: 400;
    height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
}

.input-group .quantity-field {
    font-weight: 500;
    position: relative;
    height: 38px;
    left: -6px;
    text-align: center;
    width: 62px;
    display: inline-block;
    font-size: 14px;
    margin: 0 0 5px;
    resize: vertical;
}

.button-plus {
    left: -13px;
}


/* add to cart button */

.addtocart {
    margin-top: 30px;
}

.addtocart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 3px solid #838383;
    width: 200px;
}

.addtocart-container a {
    font-weight: 700;
    font-size: 19px;
    padding: 3px 3px;
    color: #6d6d6d;
    text-decoration: none;
    transition: all .2s ease;
}

.addtocart-container a:hover {
    color: #FFA92E;
}


/* login page */


/* all */

.login-page-container {
    max-width: 100%;
}

.login-page-container .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 0;
}

.login-wrapper {
    border-right: solid 1px #d8d8d8;
    width: 50%;
    justify-content: center;
    padding: 60px;
    margin: auto;
}

.panel-login .title,
.panel-signup .title {
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    color: #3E3E3E;
}


/* login zone */

.panel-login {
    width: 350px;
    margin: auto;
}

.login-form-container {
    padding: 10px;
}

.forgot-password {
    margin-top: 5px;
    margin-bottom: 20px;
}

.forgot-password a {
    font-weight: 500;
    font-size: 15px;
    color: #3E3E3E;
}

.login-form-input {
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E3E3E;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    transition: all .2s ease;
    padding: 14px 20px;
    cursor: pointer;
    border: none;
    margin: auto;
}

.login-btn:hover {
    color: #FFA92E;
}


/* signup zone */

.signup-wrapper {
    width: 50%;
    justify-content: center;
    padding: 60px;
    margin: auto;
}

.signup-btn-wrapper {
    width: 200px;
    margin: auto;
    margin-top: 20px;
}

.signup-btn-wrapper a {
    text-decoration: none;
}

.signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E3E3E;
    border-radius: 30px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    transition: all .2s ease;
}

.signup-btn:hover {
    color: #FFA92E;
}


/* signup page */

.signup-page-container {
    max-width: 100%;
}

.signup-page-container .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.signup-form {
    width: 700px;
}

.form-row-2col {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* title */

.form-title {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    color: #3E3E3E;
    margin-bottom: 30px;
}


/* form signup */

.form-row-2col .form-group1 {
    width: 50%;
    margin-right: 30px;
}

.form-row-2col .form-group2 {
    width: 50%;
}

.form-group-confirm {
    margin-top: 15px;
}

.form-row {
    margin: 20px 0;
}

.form__input {
    font-weight: 400;
    font-size: 17px;
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form__label {
    font-weight: 400;
    font-size: 16px;
}

.form-row-login a {
    font-weight: 500;
    font-size: 16px;
    color: #3E3E3E;
}

.form-row-login {
    font-weight: 400;
    font-size: 16px;
    color: #3E3E3E;
}


/* button */

.fin-signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E3E3E;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    transition: all .2s ease;
    padding: 14px 20px;
    cursor: pointer;
    border: none;
    margin: auto;
}

.fin-signup-btn:hover {
    color: #FFA92E;
}


/* cart page */

.cart-container {
    width: 100%;
    min-height: 550px;
    margin-top: 50px;
}

.cart-container .wrapper {
    width: 70%;
}


/* title bar */

.cart-title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid rgba(204, 204, 204, 0.603);
    padding: 0 5px 30px 5px;
}

.cartpage-title {
    font-weight: 700;
    font-size: 25px;
    min-width: 20%;
}

.name-space {
    min-width: 25%;
}

.price-title,
.quantity-title,
.subtotal-price-title {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    min-width: 15%;
}

.remove-space {
    min-width: 5%;
}


/* item row */

.cartpage-items-row {
    border-bottom: 1px solid rgba(204, 204, 204, 0.603);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px 9px;
}

.cartpage-items-img {
    min-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartpage-case-image {
    width: 70px;
}

.cartpage-items-name-model {
    font-weight: 500;
    font-size: 16px;
    min-width: 25%;
}

.cartpage-item-price,
.cartpage-item-quantity,
.cartpage-subtotal-price {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    min-width: 15%;
}

.cartpage-items-remove {
    min-width: 5%;
    display: flex;
    align-items: center;
}

.cartpage-remove {
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.cartpage-remove::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 17px;
    background: rgb(214, 83, 83);
    transform: rotate(45deg);
}

.cartpage-remove::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 17px;
    background: rgb(214, 83, 83);
    transform: rotate(315deg);
}


/* checkout part */

.space-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.space {
    max-width: 70%;
}

.cartpage-cart-checkout {
    min-width: 30%;
}

.total-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.total-price-title {
    font-weight: 400;
    font-size: 18px;
}

.total-price {
    font-weight: 500;
    font-size: 17px;
}


/* checkout button */

.button-shop,
.button-checkout {
    padding: 0 10px;
}

.checkout-shop-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 50px 0;
}

.checkout-shop-btn a {
    text-decoration: none;
}

.shop-btn,
.checkout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 180px;
    height: 40px;
    font-weight: 600;
    font-size: 17px;
    transition: all .2s ease;
    padding: 14px 20px;
    cursor: pointer;
    border: none;
    margin: auto;
}

.shop-btn {
    background-color: #3E3E3E;
    color: white;
}

.checkout-btn {
    background-color: #FFA92E;
    color: #3E3E3E;
}

.shop-btn:hover {
    color: #FFA92E;
}

.checkout-btn:hover {
    color: white;
}


/* about us */

.aboutus-page-container {
    width: 100%;
    background-color: #FFA92E;
}

.aboutus-page-wrapper {
    width: 50%;
    min-height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus-page-aboutus {
    color: #3E3E3E;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}


/* profile page */

.profile-page-container {
    width: 100%;
    margin-top: 50px;
}

.profile-page-wrapper {
    width: 40%;
    margin: auto;
}


/* private and password info part */

.private-info-container,
.change-password-container {
    background-color: #ececec;
    border-radius: 30px;
    padding: 30px 40px;
    margin-bottom: 30px;
}

.private-info-title,
.change-password-title {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
}

.name-ctn,
.lastname-ctn,
.email-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    width: 55%;
}

.name-title,
.lastname-title,
.email-title {
    font-weight: 400;
    font-size: 16px;
    width: 50%;
}

.change-password-detail {
    font-weight: 400;
    font-size: 16px;
}

.name,
.lastname,
.email {
    font-weight: 500;
    font-size: 17px;
    width: 50%;
}


/* button */

.private-edit-btn,
.change-password,
.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.edit-btn,
.change-password-btn,
.logout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E3E3E;
    border-radius: 30px;
    width: 180px;
    height: 40px;
    font-weight: 500;
    font-size: 17px;
    color: white;
    transition: all .2s ease;
    padding: 14px 20px;
    cursor: pointer;
    border: none;
    margin: auto;
}

.edit-btn:hover,
.change-password-btn:hover {
    color: #FFA92E;
}


/* edit button click and change password click */

.edit-info,
.change-password-ctn {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.edit-info-container,
.change-password-ctnin {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    border-radius: 30px;
    width: 600px;
}

.edit-info-form,
.change-password-form {
    padding: 30px;
}


/* title */

.edit-info-form-title,
.change-password-form-title {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    color: #3E3E3E;
    margin-bottom: 30px;
}


/* form edit */

.edit-info-form-row,
.change-password-form-row {
    margin: 20px 0;
}

.edit-info-form-group,
.change-password-form-group {
    margin-top: 15px;
}

.edit-info-form__input,
.change-password-form__input {
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.edit-info-form__label,
.change-password-form__label {
    font-weight: 400;
    font-size: 15px;
}


/* button */

.form-button,
.change-password-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.cancel-btn,
.save-info-btn,
.save-password-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E3E3E;
    border-radius: 30px;
    width: 200px;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    transition: all .2s ease;
    padding: 14px 20px;
    cursor: pointer;
    border: none;
    margin: auto;
}

.cancel-btn {
    background-color: white;
    color: #3E3E3E;
    border: 1px solid #3E3E3E
}

.cancel-btn:hover {
    color: #868686;
}

.save-info-btn:hover,
.save-password-btn:hover {
    color: #FFA92E;
}


/* logout */

.logout-container {
    margin-bottom: 50px;
}

.logout-btn {
    background-color: #FFA92E;
    color: #3E3E3E;
}

.logout-btn:hover {
    color: white;
}


/* footer */

.footer-container {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    height: 28vh;
    background-color: #D3D3D3;
}

.footwrapper {
    display: flex;
    justify-content: space-between;
    max-width: 35%;
    margin: 0 auto;
}

.aboutus-title {
    font-weight: 700;
    font-size: 21px;
    color: #3E3E3E;
    text-decoration: none;
    margin-top: 1.5vw;
    margin-bottom: 0.7vw;
}

.aboutus li {
    margin-left: 0;
    margin-top: 0.15vw;
    list-style: none;
}

.aboutus li a {
    font-weight: 500;
    font-size: 16.4px;
    color: #3E3E3E;
    text-decoration: none;
    transition: all .2s ease;
}

.aboutus-list2 li :hover {
    color: #807f7f;
}

.contact ul {
    display: flex;
    justify-content: space-between;
}

.contact-title {
    font-weight: 700;
    font-size: 21px;
    color: #3E3E3E;
    text-decoration: none;
    margin-top: 1.5vw;
}

.contact li {
    width: 40px;
    margin-left: 0;
    margin-right: 1vw;
    margin-top: 0.6vw;
    list-style: none;
}

.contact-list li {
    transition: all .2s ease;
}

.contact-list li:hover {
    filter: brightness(130%);
}


/* Fading animation slide*/

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* Fading animation menubar*/

.fade-menubar {
    -webkit-animation-name: fade-menubar;
    -webkit-animation-duration: 0.3s;
    animation-name: fade-menubar;
    animation-duration: 0.3s;
}

@-webkit-keyframes fade-menubar {
    from {
        opacity: .3
    }
    to {
        opacity: 1
    }
}

@keyframes fade-menubar {
    from {
        opacity: .3
    }
    to {
        opacity: 1
    }
}


/* snow effect */

.snowflake {
    color: #fff;
    opacity: 0.5;
    font-size: 1.2vw;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }
    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(80px)
    }
    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

@media (max-width: 768px) {
    /* For mobile phones: */
    .logo {
        width: 45px;
    }
    .main-list a,
    .aboutus-list a,
    .dropbtn-cases a,
    .dropbtn-collection a {
        margin: 3vw;
        font-size: 11.5px;
    }
    .cases-list:hover .dropdown-cases-content,
    .collection-list:hover .dropdown-collection-content {
        display: none;
    }
    /* cart */
    .cart-image,
    .profile-image {
        width: 50%;
    }
    .cart-list {
        margin-top: 0;
        margin-left: 0;
        height: 40px;
        width: 25px;
    }
    .cart-count-container {
        right: 6px;
        top: 9px;
        height: 9px;
        width: 9px;
    }
    .cart-count {
        font-size: 10px;
    }
    .cart-list:hover .dropdown-cart-content {
        display: none;
    }
    /* search */
    .search-icon,
    .search-icon-wrap,
    .search-icon .input {
        display: none;
    }
    /* cases page body */
    /* header */
    .cases-page-body-header {
        height: 90px;
    }
    .cases-page-body-header .header-title {
        height: 60px;
        font-size: 25px;
    }
    .allproduct-text {
        font-size: 14px;
    }
    /* sort */
    .dropbtn-sort {
        font-size: 14px;
    }
    .name-sort,
    .price-sort,
    .latest-sort {
        font-size: 12px;
        padding: 4px 4px;
    }
    .name-sort-to a,
    .price-sort-to a,
    .latest-sort a {
        font-size: 12px;
    }
    .latest-sort a {
        margin-left: 4px;
    }
    .dropdown-sort {
        box-shadow: none;
    }
    /* sort name */
    .name-sort-to {
        display: block;
        margin-left: 0;
        top: 22px;
        box-shadow: none;
        min-width: 100px;
    }
    /* sort price */
    .price-sort-to {
        display: block;
        margin-left: 0;
        top: 74px;
        box-shadow: none;
        min-width: 100px;
        z-index: 1;
    }
    /* sidebar */
    .iphone-list a {
        font-size: 12px;
    }
    .sidebar-collection .title,
    .sidebar-price .title {
        font-size: 14px;
    }
    /* sidebar collection and price filter*/
    .filter label {
        font-size: 12px;
    }
    /* case product  */
    .cases-product-showcase {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .cases-name {
        font-size: 12px;
    }
    .cases-model {
        font-size: 14px;
    }
    .cases-price {
        font-size: 12px;
    }
    /* detail page body */
    /* back button */
    .back-btn a {
        font-size: 13px;
    }
    .detail-cases-image {
        margin-top: 15px;
    }
    /* name and price detail */
    .name-price {
        margin-top: 25px;
        width: 110px;
    }
    .detail-cases-detail .case-name {
        font-size: 20px;
    }
    .detail-cases-detail .case-model {
        font-size: 13px;
    }
    .detail-cases-detail .case-price {
        font-size: 11px;
    }
    /* quantity button  */
    .quantity-container {
        margin-top: 25px;
    }
    .quantity-container .title {
        font-size: 12px;
    }
    .input-group input[type='button'] {
        min-width: 19px;
    }
    .input-group .button-minus,
    .input-group .button-plus {
        height: 19px;
        width: 19px;
    }
    .input-group .quantity-field {
        height: 19px;
        width: 31px;
        font-size: 10px;
    }
    /* add to cart button */
    .addtocart {
        margin-top: 0;
    }
    .addtocart-container {
        width: 150px;
    }
    .addtocart-container a {
        font-size: 15px;
        color: #FFA92E;
    }
    /* login page */
    /* all */
    .login-page-container .wrapper {
        padding: 20px 0;
        display: block;
    }
    .panel-login .title,
    .panel-signup .title {
        font-size: 17px;
    }
    .login-wrapper {
        border-right: none;
        border-bottom: solid 1px #d8d8d8;
        padding: 10px;
    }
    /* login zone */
    .panel-login {
        width: 270px;
    }
    .forgot-password a {
        font-size: 13px;
    }
    .login-form-input {
        font-size: 14px;
        height: 35px;
    }
    .login-btn {
        width: 140px;
        height: 35px;
        font-size: 15px;
    }
    /* signup zone */
    .signup-wrapper {
        padding: 30px;
    }
    .signup-btn-wrapper {
        width: 140px;
        margin-top: 13px;
    }
    .signup-btn {
        height: 35px;
        font-size: 15px;
    }
    /* signup page */
    /* form width */
    .signup-form {
        width: 450px;
    }
    /* title */
    .form-title {
        margin-bottom: 20px;
        font-size: 19px;
    }
    /* form signup */
    .form-row {
        margin: 10px 0;
    }
    .form__input {
        font-size: 14px;
        height: 40px;
        padding: 12px 20px;
    }
    .form__label {
        font-size: 14px;
    }
    .form-row-login a,
    .form-row-login {
        font-size: 13px;
    }
    /* button */
    .fin-signup-btn {
        width: 180px;
        height: 35px;
        font-size: 16px;
        margin-top: 15px;
    }
    /* cart page */
    /* title bar */
    .cartpage-title {
        font-size: 15px;
    }
    .price-title,
    .quantity-title,
    .subtotal-price-title {
        font-size: 12px;
    }
    /* item row */
    .cartpage-case-image {
        width: 40px;
    }
    .cartpage-items-name-model,
    .cartpage-item-price,
    .cartpage-item-quantity,
    .cartpage-subtotal-price {
        font-size: 13px;
    }
    .cartpage-remove {
        width: 12px;
        height: 12px;
    }
    .cartpage-remove::before,
    .cartpage-remove::after {
        width: 2px;
        height: 12px;
    }
    /* checkout part */
    .total-price-title,
    .total-price {
        font-size: 13px;
    }
    /* checkout button */
    .shop-btn,
    .checkout-btn {
        width: 140px;
        height: 30px;
        font-size: 13px;
    }
    /* aboutus page */
    .aboutus-page-aboutus {
        font-size: 17px;
    }
    /* profile page */
    .profile-page-container {
        width: 100%;
        margin-top: 50px;
    }
    .profile-page-wrapper {
        width: 40%;
        margin: auto;
    }
    /* private and password info part */
    .private-info-title,
    .change-password-title {
        font-size: 16px;
    }
    .name-title,
    .lastname-title,
    .email-title,
    .change-password-detail {
        font-size: 13px;
    }
    .name,
    .lastname,
    .email {
        font-size: 14px;
    }
    /* button */
    .edit-btn,
    .change-password-btn,
    .logout-btn {
        width: 150px;
        height: 30px;
        font-size: 12px;
    }
    /* edit button click and change password click */
    .edit-info-container,
    .change-password-ctnin {
        width: 350px;
    }
    /* title */
    .edit-info-form-title,
    .change-password-form-title {
        font-size: 19px;
        margin-bottom: 5px;
    }
    /* form edit */
    .edit-info-form__input,
    .change-password-form__input {
        font-size: 12px;
        height: 35px;
    }
    .edit-info-form__label,
    .change-password-form__label {
        font-size: 11px;
    }
    /* button */
    .cancel-btn,
    .save-info-btn,
    .save-password-btn {
        width: 130px;
        height: 30px;
        font-size: 14px;
    }
    /* footer  */
    .footer-container {
        height: 15vh;
    }
    .footwrapper {
        max-width: 50%;
    }
    .aboutus-title,
    .contact-title {
        font-size: 14px;
        margin-top: 2.3vw;
    }
    .aboutus li a {
        font-size: 11px;
    }
    .contact li {
        width: 20px;
    }
}

@media (min-width:769px) and (max-width: 1436px) {
    .logo {
        width: 55px;
    }
    .main-list a,
    .aboutus-list a,
    .dropbtn-cases a,
    .dropbtn-collection a {
        margin: 2.5vw;
        font-size: 14px;
    }
    /* cases page body */
    .sidebar-collection .title,
    .sidebar-price .title,
    .cases-model {
        font-size: 18px;
    }
    .iphone-list a,
    .filter label,
    .cases-name,
    .cases-price {
        font-size: 16px;
    }
    /* case product  */
    .cases-product-showcase {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    /* detail page body */
    /* back button */
    .back-btn {
        width: 40%;
    }
    .back-btn a {
        font-size: 17px;
    }
    /* name and price detail */
    .name-price {
        margin-top: 25px;
        width: 120px;
    }
    .detail-cases-detail .case-name {
        font-size: 21px;
    }
    .detail-cases-detail .case-model {
        font-size: 14px;
    }
    .detail-cases-detail .case-price {
        font-size: 13px;
    }
    /* quantity button  */
    .quantity-container {
        margin-top: 25px;
    }
    .quantity-container .title {
        font-size: 12px;
    }
    .input-group input[type='button'] {
        min-width: 22px;
    }
    .input-group .button-minus,
    .input-group .button-plus {
        height: 21px;
        width: 21px;
    }
    .input-group .quantity-field {
        height: 21px;
        width: 33px;
        font-size: 12px;
    }
    /* add to cart button */
    .addtocart {
        margin-top: 20px;
    }
    .addtocart-container {
        width: 140px;
    }
    .addtocart-container a {
        font-size: 15px;
    }
    /* login page */
    /* all */
    .login-page-container .wrapper {
        padding: 20px 0;
        display: block;
    }
    .login-wrapper {
        border-right: none;
        border-bottom: solid 1px #d8d8d8;
        padding: 10px;
    }
    .login-btn,
    .signup-btn {
        font-size: 18px;
    }
    /* cart page */
    /* title bar */
    .cartpage-title {
        font-size: 19px;
    }
    .price-title,
    .quantity-title,
    .subtotal-price-title {
        font-size: 16px;
    }
    /* item row */
    .cartpage-items-name-model,
    .cartpage-item-price,
    .cartpage-item-quantity,
    .cartpage-subtotal-price {
        font-size: 16px;
    }
    .cartpage-remove {
        width: 14px;
        height: 14px;
    }
    .cartpage-remove::before,
    .cartpage-remove::after {
        width: 2px;
        height: 14px;
    }
    /* checkout part */
    .total-price-title,
    .total-price {
        font-size: 16px;
    }
    /* checkout button */
    .shop-btn,
    .checkout-btn {
        width: 170px;
        height: 35px;
        font-size: 16px;
    }
    /* footer  */
    .footwrapper {
        max-width: 50%;
    }
    .aboutus-title,
    .contact-title {
        font-size: 18px;
        margin-top: 2.3vw;
    }
    .aboutus li a {
        font-size: 15px;
    }
    .contact li {
        width: 25px;
    }
}