{% extends 'base.html' %} {% block content %}

<div class="aboutus-page-container">
    <div class="aboutus-page-wrapper">
        <div class="aboutus-page-aboutus">เว็บแอปพลิเคชั่นนี้จัดทำขึ้นเพื่อประกอบโครงงานวิชา Data structure and algorithm
            <br>จัดทำโดย
            <br>นายกฤษฎา สารวิทย์ 63010034
            <br>นางสาววัชราภรณ์ ชาแท่น 63010872
            <br>นางสาวสิรินดา วังแฟน 63010979
            <br>นางสาวสิรินุช เกตุคำ 63010981
        </div>
    </div>
</div>
<div class="snowflakes" aria-hidden="true">
    <div class="snowflake">
        ♥
    </div>
    <div class="snowflake">
        ♥
    </div>
    <div class="snowflake">
        ♥
    </div>
    <div class="snowflake">
        ♥
    </div>
    <div class="snowflake">
        ♥
    </div>
    <div class="snowflake">
        ♥
    </div>
    <div class="snowflake">
        ♥
    </div>
    <div class="snowflake">
        ♥
    </div>
    <div class="snowflake">
        ♥
    </div>
    <div class="snowflake">
        ♥
    </div>
</div>
{%endblock%}