{% extends 'base.html' %} {% block content %} {%load static%}
<div class="cart-container">
    <div class="wrapper">
        <div class="cart-form">
            <div class="cart-title-bar">
                <div class="cartpage-title">ตะกร้าสินค้าของคุณ</div>
                <div class="name-space"> </div>
                <div class="price-title">ราคา</div>
                <div class="quantity-title">จำนวน</div>
                <div class="subtotal-price-title">ยอดรวมย่อย</div>
                <div class="remove-space"> </div>
            </div>
            <div class="cartpage-cart-items">
                <!-- cart item -->
                {%if cart_empty %}
                <div class="noitemincart">ไม่มีสินค้าในตะกร้า</div>
                {% endif %} {% for item in items %}

                <div class="cartpage-items-row">
                    <div class="cartpage-items-img">
                        <a href="/cases/product/{{item.product.slug}}"><img src="{{item.product.image.url}}" class="cartpage-case-image"></a>
                    </div>
                    <div class="cartpage-items-name-model"><a href="/cases/product/{{item.product.slug}}">{{item.product.title}} |
                            {{item.product.model}}</a></div>

                    <div class="cartpage-item-price">{{item.product.price}}</div>
                    <div class="cartpage-item-quantity">{{item.quantity}}</div>
                    <div class="cartpage-subtotal-price">{{item.get_total}}</div>
                    <div class="cartpage-items-remove">
                        <span class="cartpage-remove" data-product-slug={{item.product.slug}} data-action="remove"></span>
                    </div>
                </div>
                {%endfor%}
            </div>
            <div class="space-container">
                <div class="space"></div>
                <div class="cartpage-cart-checkout">
                    <div class="total-price-container">
                        <div class="total-price-title">ราคาทั้งหมด</div>
                        <div class="total-price">{{order.get_cart_total}}</div>
                    </div>
                    <div class="checkout-shop-btn">
                        <div class="button-shop">
                            <a href="/cases"><button class="shop-btn" type="button">เลือกดูสินค้าต่อ</button></a>
                        </div>
                        <div class="button-checkout">
                            <button class="checkout-btn" type="button">ชำระเงิน</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var user = '{{request.user}}'

    function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getToken('csrftoken');
</script>
<script src="{%static '/js/cart.js'%}"></script>

{%endblock%}