{% extends 'base.html' %} {% block content %}

<div class="signup-page-container">
    <div class="wrapper">
        <div class="signup-form">
            <div class="form-title">สร้างบัญชีผู้ใช้</div>
            <div class="form-field">
                <div class="form-row-2col">
                    <div class="form-group1">
                        <label for="first-name" class="form__label">ชื่อ</label>
                        <input id="first-name" placeholder="ระบุชื่อ" type="text" value="" class="form__input">
                    </div>
                    <div class="form-group2">
                        <label for="last-name" class="form__label">นามสกุล</label>
                        <input id="last-name" placeholder="ระบุนามสกุล" type="text" value="" class="form__input">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="customer-email" class="form__label">อีเมล</label>
                        <input id="customer-email" placeholder="ระบุอีเมล" type="email" value="" class="form__input">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="password" class="form__label">รหัสผ่าน</label>
                        <div class="password-input">
                            <input id="password" placeholder="ระบุรหัสผ่าน" value="" type="password" class="form__input">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group-confirm">
                        <div class="confirm-password-input">
                            <input id="confirm-password" placeholder="ยืนยันรหัสผ่าน" value="" type="password" class="form__input">
                        </div>
                    </div>
                </div>
                <div class="form-row-login">
                    <span>มีบัญชีแล้ว? <a href="/login">เข้าสู่ระบบ</a></span>
                </div>
            </div>
            <div class="form-button">
                <button class="fin-signup-btn" type="submit">เสร็จสิ้น</button>
            </div>

        </div>
    </div>
</div>

{%endblock%}